@font-face {
  font-family: "Pretendard";
  src:
    local("Pretendard"),
    url("/fonts/Pretendard-Regular.woff2") format("woff2"),
    url("/fonts/Pretendard-Regular.woff") format("woff"),
    url("/fonts/Pretendard-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src:
    local("Pretendard"),
    url("/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("/fonts/Pretendard-Bold.woff") format("woff"),
    url("/fonts/Pretendard-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Impact";
  src:
    local("Impact"),
    url("https://fonts.cdnfonts.com/s/14575/impact.woff2") format("woff2"),
    url("https://fonts.cdnfonts.com/s/14575/impact.woff") format("woff"),
    url("https://fonts.cdnfonts.com/s/14575/impact.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  font-family:
    "Pretendard",
    -apple-system,
    sans-serif;
}
:root {
  font-family: "Pretendard", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; /* macOS용 */
  -moz-osx-font-smoothing: grayscale; /* Firefox macOS용 */
  text-rendering: optimizeLegibility; /* 커닝 및 부드럽게 */
  font-smooth: always; /* 일부 브라우저에서만 작동 */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 0;
  background-color: transparent;
  height: 40px;
  border-radius: 6px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
